# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:
    
    encoders:
        AppBundle\Entity\User:
            algorithm: bcrypt

    providers:
        database_users:
            entity: { class: AppBundle:User, property: email }

    firewalls:
        main:
            pattern: ^/
            
            provider: database_users
            
            anonymous: ~
            form_login:
                login_path: login
                check_path: login
                csrf_token_generator: security.csrf.token_manager
                
            logout:
                path: logout
                target: login
        
    access_control:
        - { path: ^/admin, role: ROLE_ADMIN }
        - { path: ^/timetable, role: IS_AUTHENTICATED_FULLY }
        
