# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
    app.amqp.email:
        class: AppBundle\Consumer\MailConsumer
        arguments:
            entityManager: "@doctrine.orm.entity_manager"
            mailer: "@mailer"
            logger: "@monolog.logger"
    app.amqp.sms:
        class: AppBundle\Consumer\SMSConsumer
        arguments: 
            entityManager: "@doctrine.orm.entity_manager"
            rabbit: "@old_sound_rabbit_mq.sms_producer"
            logger: "@monolog.logger"
