{% extends 'base.html.twig' %}

{% block body_id 'admin_index' %}

{% block main %}
    <div class="row">
        <div class="col-sm-9">
            qwe
        </div>
        <div class="col-sm-3">
            <a href="{{ path('registration') }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> Create user
            </a>
        </div>
    </div>
{% endblock %}
